@using BloodDonor.Models
@model List<BloodDonorListViewModel>
@{
    ViewData["Title"] = "Blood Donor List";
}
<h2>Blood DOnor List</h2>

<form method="get" class="row g-2 mb-3">
    <div class="col-md-3">
        <select name="bloodGroup" class="form-select">
            <option value="">All Blood Groups</option>
            @foreach (var bg in Enum.GetNames(typeof(BloodGroup)))
            {
                <option value="@bg">@bg</option>
            }
        </select>
    </div>
    <div class="col-md-3">
        <input type="text" name="address" class="form-control" placeholder="Search by Address"/>
    </div>

    <div class="col-md-3">
        <select   name="isEligible" class="form-select">
            <option value="">All</option>
            <option value="true">Eligible</option>
            <option value="false">Not Eligible</option>
        </select>

    </div>
    <div class="col-md-3">
        <button type="submit" class="btn btn-primary">Search</button>
        </div>
</form> 

<table  class="table table-striped">
    <thead>
        <tr>
            <td>Profile</td>
            <th>Donor Name</th>
            <th>Blood Group</th>
            <th>DateOfBirth</th>
            <th>Address</th>
            <th>Last Donation Date</th>
            <th>Is Eligible</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var donor in Model)
        {
            <tr>
                <td>
                    @if(!string.IsNullOrEmpty(donor.ProfilePicture))
                    {
                        <img src="~/@donor.ProfilePicture" alt="Donor Image" style="width:50px; height:50px; border-radius:50%;" />
                    }
                    else
                    {
                        <img src="/images/default-avatar.png" alt="Default Image" style="object-fit:cover; border-radius:50%;" />
                    }


                </td>
                <td>@donor.FullName</td>
                <td>@donor.BloodGroup</td>
                <td>@donor.Age</td>
                <td>@donor.Address</td>
                <td>@donor.LastDonationDate</td>
                <td>
                    @if (donor.IsEligible)
                    {
                        <span class="bg-success border-0 p-1  text-light rounded-3">Eligible</span>

                    }
                    else
                    {
                        <span class="bg-danger border-0  p-1  text-light rounded-3">Eligible</span>
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@donor.Id" class="btn btn-warning"> View</a>
                    <a href="@Url.Action("Edit", "BloodDonorEntity", new { id = donor.Id })" class="btn btn-primary">Edit</a>
                    <a href="@Url.Action("Delete", "BloodDonorEntity", new { id = donor.Id })" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
